@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// VARIABLES
// COLORS
$Soft_blue: rgb(139, 172, 218);
$Cyan: rgb(0, 255, 247);
$main_bg: rgb(13, 25, 43);
$card_bg: rgb(20, 37, 61);
$line: rgb(47, 65, 91);
$White: rgb(255, 255, 255);

// Typography

$font: 'Outfit', sans-serif;

body{
    background-color: $main_bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: $font;
}

.parent{
background-color: $card_bg;
max-width: 320px;
border-radius: 1rem;
box-shadow: 1px 1px 10px rgb(8, 8, 29);
padding: 1rem;
}

main > *{
    padding: .4rem;
}

  p:nth-child(3){
    color: $Soft_blue;
}

.nft{
background: center/cover url('/images/image-equilibrium.jpg') no-repeat;
min-height:20rem;
border-radius: .5rem;
margin: .5rem;
}

h2{
    color: $White;
    font-size: larger;
    
}

.ether{
    background-image: url('./images/icon-ethereum.svg');

    color:$Cyan;
}

p{
    color: $Soft_blue;
}



section{
display: flex;
flex-direction: row;
justify-content: space-between;
}